body {
    margin: 0;
    padding: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.section1 {
    width: 45svw;
    height: 100svh;
    background-image: url(/static/img/background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 45svw; 
    height: 100%; 
    background: white; 
    opacity: 0.5;
    z-index: 1;
}

.section1 img {
    width: 350px;
    height: 300px;
    z-index: 1;
}

.section2 {
    width: 55svw;
    height: 100svh;
    background-color: #d3d3ff;
    display: flex;
    flex-direction: column;
}

.section2 .navbar {
    height: 15svh;
    display: flex;
    flex-direction: row;
}

.section2 .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.section2 .navbar ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 15px 35px 15px 35px;
    height: 20px;
    border-radius: 2px;
    font-size: 20px;
}

.section2 .navbar ul li:hover {
    background-color: violet;
    transition: 0.4s;
    cursor: pointer;
    color: white;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.home {
    display: inherit;
    padding: 50px 50px 50px 20px;
    border-radius: 20px;
}

.text {
    font-size: 20px;
}

.text a {
    text-decoration: none;
}

.aboutus {
    display: none;
}
.funcionalidades {
    display: none;
}