<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduCat - Cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <section class="section2">
        <img src="/static/img/logotipo.png" alt="logotipo">
    </section>

    <section class="section1">
        <div class="login">
            <div class="logincontent">
                <h1>Realize seu cadastro</h1>
                
                <div class="inputlabel">
                    <label for="username">Username</label>
                    <input class="inputtext" type="text" name="username" id="username">
                </div>

                <div class="inputlabel">
                    <label for="email">Email</label>
                    <input class="inputtext" type="email" name="email" id="email">
                </div>
                
                <div class="inputlabel">
                    <label for="senha">Password</label>
                    <input class="inputtext" type="password" name="senha" id="senha">
                </div>

                <input class="submit" type="submit" value="Cadastrar">
                <a href="login.html">Já possui cadastro?</a>
            </div>
        </div>
    </section>
</body>
</html>