<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduCat - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <section class="section1">
        <div class="login">
            <div class="logincontent">
                <h1>LOGIN</h1>
                <input class="inputtext" type="text" name="username" id="username" placeholder="Username">
                <input class="inputtext" type="password" name="senha" id="senha" placeholder="Password">
                <a href="#esqueceusenha">Esqueceu a senha?</a>
                <input class="submit" type="submit" value="Entrar">
                <a href="#cadastro">Não possui cadastro?</a>
            </div>
        </div>
    </section>
</body>
</html>